<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div>
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
            </div>
            <div>
                <p>Lugar para poner la barra de búsqueda</p>
            </div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="/images/img-home-banner.jpg" width="100%" alt="Imagen con oferta">
        </div>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$230.000</p>
                        <p>20% OFF</p>
                    </div>
                    <h5>Macbook Pro 2019</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$70.500</p>
                        <p>10% OFF</p>
                    </div>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5>SmarTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$6.770</p>
                        <p>40% OFF</p>
                    </div>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$230.000</p>
                        <p>20% OFF</p>
                    </div>
                    <h5>MacBook Pro 2019</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$70.500</p>
                        <p>10% OFF</p>
                    </div>
                    <h5>Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">
                <div>
                    <div>
                        <p>$23.200</p>
                        <p>5% OFF</p>
                    </div>
                    <h5>SmarTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <hr>
        <article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L. Angel Guillermo Montaña</p>
    </footer>

    <script src="/javascript/script.js"></script>
</body>

</html>
